.secPrimary {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}
.contact {
    text-align: center;
    width: 90%;
}
.contact h1 {
    color: #FF8200;
    font-family: HomepageBaukasten;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
}

.contact p {
    font-family: HomepageBaukasten;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}