@font-face {
    font-family: HomepageBaukasten;
    src: url(../fonts/HomepageBaukasten-Book.ttf);
}
@font-face {
    font-family: HomepageBaukastenBold;
    src: url(../fonts/HomepageBaukasten-Bold.ttf);
}
@font-face {
    font-family: Goudy;
    src: url(../fonts/Goudy\ Oldstyle\ Std\ Regular.otf);
}
h1 {
    font-family: HomepageBaukastenBold;
}
h4 {
    font-family: HomepageBaukasten;
}