.secPrimary {
    display: block;
    align-content: center;
    background-color: #fff;
    width: 100%;
    margin: 0;

}

h1 {
    color: #FF8200;
    font-family: HomepageBaukasten;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
}

.primary h3 {
    color: #FF8200;
    font-family: HomepageBaukasten;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.primary p {
    font-family: HomepageBaukasten;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 20px 20px;
}

.layout {
    border: 2px solid #58595B;
    border-radius: 5px;
    margin: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
    "name"
    "image"
    "buttons"
    "info";
}

img {
    width: 25vw;
}

.contain {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    width: 100vw;
  }
  
  .item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
  }
  
  