:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}
.menuWrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.menuWrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menuWrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menuWrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $sectext;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menuWrap .hamburger > div::before,
.menuWrap .hamburger > div:after {
    content:'';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: $sectext;;
}
.menuWrap .hamburger > div:after {
    top: 10px;
}

// animate 
.menuWrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

// turn into X
.menuWrap .toggler:checked + .hamburger > div:before,
.menuWrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
// rotate on hover when chcked

.menuWrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menuWrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 30%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu {
    background-color: $background;
    opacity: 0.95;
    @media (min-width: 1024px) {
        visibility: hidden;
    }
}
.menu li {
    list-style: none;
    margin: 15px;
}
.menu a {
    text-decoration: none;
    color: $maintext;
    font-size: 22px;
    text-transform: uppercase;
}
.menu a:hover {
    color: $sectext;
}

.menuWrap .toggler:checked ~ .menu {
    visibility: visible;   
}
